body{
  padding: 5%;
  background-color: #06283D;
  text-align: center;
}
h1{
  font-family: 'Press Start 2P', cursive;
  color: #F9F9C5;
  line-height : 1.5;
}

.maindiv{
  width : 60%;
  margin :  5% auto 0 auto;


}
.btn{
  display: inline-block;
  width : 35%;
  height:150px;
  margin: 5%;
  border : 10px solid black;
  border-radius: 20%;
}

.green{
  background-color: green;
}
.blue{
  background-color : blue;
}
.yellow{
  background-color : yellow;
}
.red{
  background-color: red;
}

@media (max-width : 904px){
  
  h2{
     margin-top: 150px;
     text-align: center;
   }

  li{
    font-size: 15px !important;
  }
  ul{
    text-align: center;
  }

  .red{
    position: relative;
    right : 20%;
  }
  .green{
    position: relative;
    left : 20%;
  }
  .blue{
    position: relative;
    right : 20%;
  }
  .yellow{
    position: relative;
    left : 20%;
  }
  .sam{
    margin-top: 150px;
  }
  .secondrow{
    margin-top: 20px;
  }
  .firstrow{
    margin-top: 50px;
  }
}

.bgeffect{
  border : 10px solid white;
  opacity: 0.5 ;
}

.wrong{
  background-color: red;

}

.sam,a{

  margin-top: 100px;
  color: grey;
  text-shadow: 10px;
  text-align: center;
font-size: 25px;
font-style: italic;

}
a{
  color: white;
  font-size: 35px;
}

.startbtn{
  border: 5px solid black;
  border-radius: 20px;
  background-color: #E6B325;
  width : 150px;
  font-size: 25px;
  font-family:  cursive;
  font-weight: bold;
  padding-bottom: 3px;
}
.Startbtn_visibility{
  visibility: hidden;
}
li{
  text-align: left;
  color : #CFD2CF;
  line-height: 1.5;
  font-size: 20px;
  font-family:sans-serif;
  text-shadow: 1px 1px 2px red;

}
h2{
  text-align: left;
  color : #CFD2CF;
  font-family:sans-serif;
  text-shadow: 2px 2px 3px red;

}


